@charset "UTF-8";

/*スタイルの初期化*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../image/7210_1.jpg");
    background-size: cover;
}

header {
    height: 10vh;
    background-color: darkturquoise;
}

.header_wrapper {
    width: 60%;
    margin: 0 auto;
    line-height: 10vh;
}

main {
    width: 60%;
    margin: 0 auto;
    margin-top: 5vh;
}

.main_element {
    display: inline-block;
    border: solid 1px black;
    background-color: white;
    margin: 2vh 0;
    height: 15vh;
    width: 60vw;
}

.main_element:hover {
    background-color: deepskyblue;
    color: white;
    transition: 1s;
}